/**************************************************************************** */
/* Karl Jakob Larsson
 * Personal website 2016 */
/* MIT License */
/**************************************************************************** */

/* ---------- Variables --------- */
html {
  --accent-color: #e44d4d;
  --accent-light-color: hsla(0,74%,85%,1);
  --bg-color: #ffffff;
  --fg-color: #555;
  --fg-light-color: #888;
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: "Fira Sans", "Open Sans", Helvetica, Arial, sans-serif;
}


/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

/* ---------- Layout and spacing --------- */
body * + * {
  margin-top: 1.5rem;
}

section, article, aside, footer, header, nav, hgroup {
  display: block;
}

body {
  text-align: center;
}

/* ---------- Lists --------- */


/* ---------- Headings --------- */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  width: 100%;
  font-size: 5rem;
  font-weight: 200;
}

/* ---------- Header --------- */

header::before {
  display: block;
  content: "";
  background: url("../images/karljakoblarsson-evil_1000px.jpeg");
  background-size: contain;
  height: 47vw;
  max-height: 675px;
  max-width: 32vw;
  background-position: center 32%;
  background-repeat: no-repeat;
  flex-shrink: 0;
  flex-grow: 1;
  order: 2;
  margin-left: -8vw;
  z-index: -1;
}

/* ---------- Navigation --------- */
nav {
  background-color: var(--accent-color);
  margin: 0;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  padding: 0em 1em;
}

nav > a {
  display: inline-block;
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5em;
  padding: .5rem 1.5rem;
  margin-top: 0;
}

nav > a:hover {
  background-color: #eb7979;
  color: #FFF;
}

nav > a:visited {
  color: #FFF;
}

main {
  margin: 0 auto;
  text-align: justify;
  background-color: var(--bg-color);
  max-width: 65ch;
}

footer {
  background-color: var(--accent-color);
  color: var(--bg-color);
  padding: 1em;
  margin: 0 auto;
}

.footer {
  color: #FFF;
  margin-top: 2em;
  overflow: hidden;
  max-width: 55em;
  margin: 0 auto;
}



/* ---------- Links --------- */
a {
  color: var(--accent-color);
}

a:visited {
  color: #f2b6b6;
}

p a {
  font-weight: 800;
}

footer a {
  font-weight: 800;
  color: var(--bg-color);
}

footer a:visited {
  color: #f2b6b6;
}


.post h2 {
  font-style: oblique;
}

.post article {
  margin-bottom: 6em;
}

.post article h1, .post article h2 {
  font-size: 1.5em;
  font-weight: 800;
  margin-left: 0;
}


.post article hr {
  border: 0;
  background-color: var(--fg-light-color);
  height: 1px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}


.projects > h2 {
  display: none;
}

.project {
  height: 210px;
  display: flex;
  flex-direction: row;
}

.project:nth-child(even) {
  flex-direction: row-reverse;
}

.project:nth-child(even) > div {
  background-color: var(--accent-color);
  color: var(--bg-color);
  padding-left: 1em;
}

.project > div {
  flex: 1;
  overflow: hidden;
  padding: 0 1em 0 0;
}

.project .project-image > img {
  display: block;
  max-height: 210px;
  margin-top: 0;
}


.project h3 {
  font-size: 200%;
  font-weight: 100;
  margin-top: .25em;
}

.project a {
  margin-top: 0;
  color: inherit;
  text-decoration: none;
}

.project a:hover {
  text-decoration: underline;
}

.links {
  display: flex;
  flex-direction: row;
}

.links > a {
  flex: 1;
  border: 1px solid #f1a6a6;
  border-radius: 3px;
  padding: 0.1em 0.1em 0.1em 0.5em;
  font-weight: 400;
  margin: 0.5em 0.5em 0.5em 0em;
}

.links > a:hover {
  background-color: var(--accent-light-color);
  text-decoration: none;
}

.posts span {
  color: #aaa;
  font-family: "Fira Mono", Monaco, monospace;
  font-size: 80%;
}

/* Inspector adds */

header > h1 {
  display: block;
  width: 35vw;
  max-width: 492px;
  order: 1;
  font-size: 6vw;
  background-color: rgba(0,0,0,0.0);
  line-height: 100%;
  margin-top: -1em;
}

.lastname {
  display: block;
  margin-top: 0;
}

.middlename {
  color: #a2a2a2;
}

header {
  margin: 0;
  margin-bottom: -24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contact {
  text-align: justify;
  margin: 0 auto;
  max-width: 55ch;
  display: inline-block;
  padding-left: 1em;
}

footer .middlename {
  color: var(--accent-light-color);
}

img {
  max-width: 65ch;
}

.project * + * {
  margin-top: 0;
}



/* ---------- Media queries --------- */
@media only screen and (min-width: 1400px) {
  header > h1 {
    font-size: 84px;
  }
}

@media only screen and (max-width: 999px) {
  .post .meta {
    margin-left: 1em;
  }
}

@media only screen and (max-width: 999px) {
  .post  {
    padding: 0em 1em 0em 1em;
  }
}

@media only screen and (min-width: 551px) {
  main {
    padding: 0 1em;
  }
}

@media only screen and (max-width: 700px) {
  .contact {
    display: block;
  }
}

@media only screen and (max-width: 550px) {
  h1 {
    font-size: 3em;
  }
  nav {
    justify-content: space-around;
  }
  nav > a {
    font-size: 1em;
    padding: 0.6em 0.5em 0.5em 0.5em;
  }
  main {
    max-width: 100vw;
  }
  .project {
    height: auto;
  }

  .project img {
    width: 100%;
  }

  .project > div {
    height: 200px;
  }
  .project {
    flex-direction: column-reverse;
  }
  .project:nth-child(even) {
    flex-direction: column-reverse;
  }
  .project .project-image > img {
    height: inherit;
    max-height: 100%;
  }

  .project > div {
    padding: 0 1em 0 1em;
  }
}
