---
layout: default
title: Karl Jakob Larsson
---

{% include header.html %}
<main>
  <section class="projects">
    <h2>Projects</h2>
    {% for post in site.categories.projects limit:3 %}
      <article class="project">
        <div>
          <h3>
            <a href="{{ post.url }}">
              {{ post.title }}
            </a>
          </h3>
            {{ post.excerpt }}
            <div class="links">
              {% if post.link %}
                <a href="{{ post.link }}"><span>LIVE LINK</span></a>
              {% endif %}
              {% if post.source %}
                <a href="{{ post.source }}"><span>SOURCE</span></a>
              {% endif %}
            </div>
        </div>
        <a class="project-image" alt="{{ post.title }}" href="{{ post.url }}">
          <img src="images/{{ post.image}}" alt="{{ post.title }}">
        </a>
      </article>
    {% endfor %}
    <div class="more"><a href="projects.html">More &#8594;</a></div>
  </section>
  <!--<section class="blog">-->
    <!--<h2>Blog</h2>-->
    <!--<ul class="blog-listing">-->
      <!--{% for post in site.posts limit:5 %}-->
        <!--<li>-->
          <!--<a class="posts-title" href="{{ post.url }}">{{ post.title }}</a>-->
          <!--<span class="date">{{ post.date | date_to_string }}</span>-->
        <!--</li>-->
      <!--{% endfor %}-->
    <!--</ul>-->
  <!--</section>-->

</main>
