<footer>
    <div class="contact">
      <span class="middlename">Karl</span> Jakob Larsson
        <br />
        <em>
          Engineering student who wants to build products users love.
          Loves music, graphics and coffee.
        <br />
          Studying computer science at Chalmers University of Technology.
        <br />
      </em>
        jakob@karljakoblarsson.com
    </div>
    <div class="contact">
        <a href="https://github.com/karljakoblarsson">github.com/karljakoblarsson</a><br />
        <a href="https://linkedin.com/in/jakob-larsson/">linkedin.com/in/jakob-larsson/</a>
    </div>
    <div class="byline">
      Cover photo by Tommy Dam/CFFC
    </div>
</footer>

