<div class="footer">
    <div class="contact">
      <p>
        Karl Jakob Larsson<br />
        Student, thinker, maker, musician.<br />
        k.jakob.larsson@gmail.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="https://github.com/karljakoblarsson">github.com/karljakoblarsson</a><br />
        <a href="https://soundcloud.com/karllarz">soundcloud.com/karllarz</a><br />
        <a href="https://twitter.com/kjakoblarsson">twitter.com/kjakoblarsson</a><br />
      </p>
    </div>
</div>

