<div class="footer">
    <div class="contact">
      <p>
        Karl Jakob Larsson<br />
        Engineering student and generally curious about stuff.<br />
        k.jakob.larsson@gmail.com
        +46 (0) 700 49 80 28
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="https://github.com/karljakoblarsson">github.com/karljakoblarsson</a><br />
        <a href="https://soundcloud.com/karllarz">soundcloud.com/karllarz</a><br />
        <a href="https://twitter.com/kjakoblarsson">twitter.com/kjakoblarsson</a><br />
      </p>
    </div>
</div>

