<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/fonts/futural.css">
        <link rel="stylesheet" href="/css/main.css">

        <meta name="descriptiton" content="Karl Jakob Larsson">
        <meta name="keywords" content="karljakoblarsson,personalwebsite,homepage">

    </head>
    <body class="body">

      {% include nav.html %}

      {% include header.html %}


      <main class="about post">
        <article class="bodytext">
            {{ content }}
        </article>
      </main>
      {% include footer.html %}

    </body>
</html>
